[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dice = "*"
python_log_indenter = "*"
"discord.py" = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
pipenv = "*"
pylint = "*"
pytest = "*"
black = {git = "https://github.com/psf/black"}
swntools = {editable = true, path = "."}
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
